In [2]:
import numpy as np
import pandas as pd

In [9]:
data_dir = "../data/oct24_clean/"

games = pd.read_csv(data_dir + "games.csv")
genres = pd.read_csv(data_dir + "genres.csv")
spy = pd.read_csv(data_dir + "steamspy_insights.csv")

In [10]:
spy

,app_id,developer,publisher,owners_range,concurrent_users_yesterday,playtime_average_forever,playtime_average_2weeks,playtime_median_forever,playtime_median_2weeks,price,initial_price,discount,languages,genres
0,10,Valve,Valve,"10,000,000 .. 20,000,000",11457,0,0,0,0,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action
1,20,Valve,Valve,"5,000,000 .. 10,000,000",52,0,0,0,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action
2,30,Valve,Valve,"5,000,000 .. 10,000,000",82,0,0,0,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action
3,40,Valve,Valve,"5,000,000 .. 10,000,000",6,0,0,0,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action
4,50,Gearbox Software,Valve,"2,000,000 .. 5,000,000",99,0,0,0,0,499.0,499.0,0.0,"English, French, German, Korean",Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140072,3297700,NaN,NaN,"0 .. 20,000",0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
140073,3297890,NaN,NaN,"0 .. 20,000",0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
140074,3298020,NaN,NaN,"0 .. 20,000",0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
140075,3298610,NaN,NaN,"0 .. 20,000",0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
140076,3298710,NaN,NaN,"0 .. 20,000",0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [23]:
# Get approx number of owners
df = games.loc[:, ["app_id", "name"]]
df = df.merge(spy.loc[:, ["app_id", "owners_range"]], how="inner", on="app_id")
df["owners"] = df.owners_range.str.split(" .. ").str[-1]
df = df.drop("owners_range", axis=1)
df

         app_id                        name      owners
0            10              Counter-Strike  20,000,000
1            20       Team Fortress Classic  10,000,000
2            30               Day of Defeat  10,000,000
3            40          Deathmatch Classic  10,000,000
4            50   Half-Life: Opposing Force   5,000,000
...         ...                         ...         ...
140072  3297700                  Hacky Demo      20,000
140073  3297890        Quantum of Hope Demo      20,000
140074  3298020      A Night With: Succubus      20,000
140075  3298610               心所向往的北极星 Demo      20,000
140076  3298710  S.X.E. Slider: Hard Ridin'      20,000

[140077 rows x 3 columns]

In [24]:
# Get genres
df = df.merge(genres, how="right", on="app_id")
df

         app_id                        name      owners       genre
0            10              Counter-Strike  20,000,000      Action
1            20       Team Fortress Classic  10,000,000      Action
2            30               Day of Defeat  10,000,000      Action
3            40          Deathmatch Classic  10,000,000      Action
4            50   Half-Life: Opposing Force   5,000,000      Action
...         ...                         ...         ...         ...
353334  3297890        Quantum of Hope Demo      20,000       Indie
353335  3298020      A Night With: Succubus      20,000      Casual
353336  3298020      A Night With: Succubus      20,000         RPG
353337  3298020      A Night With: Succubus      20,000  Simulation
353338  3298710  S.X.E. Slider: Hard Ridin'      20,000      Casual

[353339 rows x 4 columns]

In [27]:
df.groupby("genre").head(10).genre.unique()

array(['Action', 'Экшены', 'Free To Play', 'Бесплатные', 'Стратегии',
       'Adventure', 'Akcja', 'Free to Play', 'Indie', 'Strategy', 'RPG',
       'Animation & Modeling', 'Video Production', 'Casual', 'Simulation',
       'Racing', 'Massively Multiplayer', 'Nudity', 'Violent', 'Ação',
       'Sports', 'Early Access', 'Rol', 'Инди', 'Приключенческие игры',
       'Ролевые игры', 'Akční', 'Dobrodružné', '动作', '独立', '策略', '角色扮演',
       'Acción', 'Utilities', 'Gore', 'Audio Production',
       'Design & Illustration', 'Education', 'Game Development',
       'Web Publishing', 'Photo Editing', 'Software Training', 'Aventure',
       'Симуляторы', 'Гонки', 'Спортивные игры', 'Aventura',
       'Многопользовательские игры', 'Indépendant', 'Stratégie',
       'Carreras', 'Deportes', 'Niezależne', 'Strategie', '模拟', 'アクション',
       'アドベンチャー', 'インディー', 'Sexual Content', 'Simulationen', 'Abenteuer',
       'Rollenspiel', '冒险', 'Eventyr', 'Strategi', 'Казуальные игры',
       'Avventura', 'Azione', 'Actie', 'Accounting', 'Пригоди',
       'Estrategia', 'Roolipelit', 'Seikkailu', 'Strategia', 'Movie',
       'Ранний доступ', 'Sport', 'Simulaatio', 'ストラテジー', 'Бойовики',
       '免费开玩', 'Інді', 'Казуальні ігри', 'Simuladores', 'Free-to-play',
       'Massivement multijoueur', '動作', '大型多人連線', '搶先體驗',
       'Acceso anticipado', 'Utilidades', 'Occasionnel',
       'Kostenlos spielbar', 'MMO', 'Multijugador masivo', '冒險', '獨立製作',
       'Avontuur', 'Race', 'Simulatie', '休闲', '体育', 'Gelegenheitsspiele',
       '抢先体验', 'カジュアル', '無料プレイ', 'Simulering', '360 Video', 'Documentary',
       'Episodic', 'Short', 'Tutorial', '休閒', '模擬', 'GDR', 'Passatempo',
       'Course automobile', 'Estratégia', 'Grátis para Jogar',
       'Simulação'], dtype=object)